@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;1,400;1,700&family=Nunito:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    font-family: 'Nunito', sans-serif;
  }

/* .detailTracker {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.detailTracker a {
    text-decoration: none;
    color: black;
}

.vehicleDetail {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
  }
  
  .vehicleDetailLeft {
    border-radius: 10px;
    display: flex;
    padding-inline: 10px;
    padding-block: 6px;
    height: fit-content;
    flex-direction: column;
    margin-inline-end: 5px;
    background-color: #F8F5F2;
    width: 25%;
  }
  
  .vehicleDetailLeft img {
    width: 100%;
    border-radius: 15px;
  }
  
  .vehicleDetailRight {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 74%;
    margin-inline-start: 5px;
    padding-block: 6px;
    padding-inline: 5px;
    background-color: #F8F5F2;
  }
  
  .vehicleDetailInfo {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-between;
  }

  /* .detail-bottom-left {
    margin: 0;
  } */
  
  .vehicleOwnerLeft {
    margin : 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
  }
  
  .vehicleOwnerLeft img {
    width: 50%;
    margin-right: 15px;
  }

  .vehicleInfoPrice {
    margin-top: 0px;
    padding-block-end: 15px;
  }

  .vehicleInfoPrice p {
    margin-bottom: 15px;
  }

  .vehicleInfoPrice a {
    margin-top: 40px;
    padding-inline: 15px;
    padding-block: 6px;
    text-decoration: none;
    color: white;
    background-color: #F45D48;
    border-radius: 30px;
  }

  .vehicleDetailDesc {
    display: flex;
    flex-direction: column-reverse;
  }
  
  .vehicleDetailPhotolist {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
  
  .vehicleDetailPhotolist img{
    max-width: 200px;
  } */
  
  .vehicleDetailRenting{
    display: flex;
    flex-direction: column;
  }
  
  .vehicleDetailRenting form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .vehicleCheckinDate{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 100px;
    align-items: center;
    margin-bottom: 15px;
  }

  .vehicleCheckinDate div {
    display: flex;
    flex-direction: column;
  }

  .vehicleCheckinDate input {
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: solid 1px gray;
  }
  
  .vehicleDetailForm {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 10px;
    column-gap: 100px;
    font-size: large;
  
    margin-block-end: 15px;
  }
  
  .vehicleDetailForm div {
    display: flex;
    flex-direction: column;
  }
  
  .vehicleDetailForm input {
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: solid 1px gray;
  }
  
  .vehicleDetailRenting button {
    padding-block: 10px;
    padding-inline: 20px;
    border-radius: 20px;
    border: 0;
    background-color: #F45D48;
    text-decoration: none;
    color: white;
  }

  .payingMethod {
    margin-bottom: 10px;
  }

  .toggle-button {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .drawer-content {
      margin-top: 15px;
  }

  .payingMethod label {
      display: block;
      margin-bottom: 5px;
  }

  .payingMethod select{
    padding-inline: 50px;
    padding-block: 5px;
    width: 100%;
    margin-bottom: 10px;
  }

  
  @media only screen and (max-width: 600px) {
    .vehicleDetail {
        flex-direction: column;
        width: 100%;
        margin-bottom: 10px;
    }
  
    .vehicleDetailLeft,
    .vehicleDetailRight {
        margin-inline: 0;
        width: 100%;
        margin-block: 5px;
        padding-inline: -10px;
    }

    .detail-top-left img{
        max-width: 300px;
    }

    .detail-top-left {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
  
    .vehicleDetailInfo {
        flex-direction: column;
    }
  
    .vehicleOwnerLeft{
        justify-content: space-around;
    }
  
    .vehicleDetailPhotolist {
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;
    }
  
    .vehicleDetailPhotolist img {
        max-width: 100%;
    }
  
    .vehicleDetailForm {
        grid-template-columns: 1fr;
        column-gap: 0;
        width: 15rem;
    }

    .vehicleCheckinDate {
      grid-template-columns: 1fr;
      width: 15rem;
    }
  
    .vehicleDetailRenting a {
        margin-top: 10px;
    }

    .payingMethod select {
      padding-block: 2px;
      padding-inline: 30px;
    }
  }