<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rent'O</title>
    <meta name="description" content="Penyedia layanan rental mobil terpercaya. Nikmati perjalanan Anda dengan kenyamanan mobil berkualitas tinggi dan layanan pelanggan yang prima. Temukan berbagai pilihan mobil sesuai kebutuhan Anda.">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="theme-color" content="#FFFFFF"/>
    <link rel="manifest" href="./app.Webmanifest">
    <link rel="shortcut icon" href="./images/favicon/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="./images/icons/maskable_icon_x512.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
</head>
<body>
    <a href="#main-content" class="skip-link">Skip to Content</a>
    <header>
        <app-header></app-header>
    </header>
    <main id="main-content" class="main-content" tabindex="0">

    </main>
    <footer>
        <app-footer></app-footer>
    </footer>
    <script>
        function showListRentaled() {
          console.log("showListRentaled function called");
          document.getElementById('listYourRentaled').classList.add('active');
          document.getElementById('listRentaledHistory').classList.remove('active');
          document.getElementById('listRentaledToggle').classList.add('focused');
          document.getElementById('listHistoryToggle').classList.remove('focused');
        }

        function showRentedHistory() {
          console.log("showRentedHistory function called");
          document.getElementById('listYourRentaled').classList.remove('active');
          document.getElementById('listRentaledHistory').classList.add('active');
          document.getElementById('listHistoryToggle').classList.add('focused');
          document.getElementById('listRentaledToggle').classList.remove('focused');
        }

        function previewImage() {
          const fileInput = document.getElementById('fileInput');
          const imagePreviewContainer = document.getElementById('imagePreviewContainer');
          const imagePreview = document.getElementById('imagePreview');
    
          const file = fileInput.files[0];

          if (file) {
            const reader = new FileReader();
    
            reader.onload = function(e) {
              imagePreview.src = e.target.result;
              console.log(e)
              imagePreviewContainer.style.display = 'block';
            };
    
            // Baca data URL gambar
            reader.readAsDataURL(file);
          }
        }
      </script>
</body>
</html>