<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rent'O &mdash; A Better Way to Find Your Perfect Car</title>
    <meta name="description" content="Penyedia layanan rental mobil terpercaya. Nikmati perjalanan Anda dengan kenyamanan mobil berkualitas tinggi dan layanan pelanggan yang prima. Temukan berbagai pilihan mobil sesuai kebutuhan Anda.">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="theme-color" content="#FFFFFF"/>
    <link rel="manifest" href="./app.Webmanifest">
    <link rel="shortcut icon" href="./images/favicon/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="./images/icons/maskable_icon_x512.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preload" href="https://rento-backend-api-d6zuozodga-et.a.run.app" as="fetch">
</head>
<body>
    <a href="#main-content" class="skip-link">Skip to Content</a>
    <header>
      <app-header></app-header>
    </header>
    <main id="main-content" class="main-content" tabindex="0">
    </main>
    <footer>
      <app-footer></app-footer>
    </footer>
    <script src="./scripts/scripts.js"></script>
</body>
</html>