@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

* {
  font-family: 'Nunito', sans-serif;
}

html,
body {
  display: block;
  background-color: #FFFFFE;
  margin: 0;
}

.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  padding: 8px;
  padding-inline: 4px;
  background-color: #bf1722;
  color: white;
  z-index: 100;
}

.skip-link:focus {
  top: 0;
}

/*
sign Drawer 
*/

.signDrawer li {
  display: inline;
}

.signDrawer a {
  padding-inline: 45px;
  padding-block: 10px;

  text-decoration: none;
  border-radius: 40px;
}

.loginButton {
  background-color: #F45D48;
  color: #FFFFFE;
}

.registerButton {
  background-color: #078080;
  color: #FFFFFE;
}


/*Drawer Transtition*/

.drawer a:hover {
  background-color: #157777;
  color: #FFFFFE;
  transition: 700ms;
}

.signDrawer .loginButton:hover {
  background-color: #f7361d;
  transition: 700ms;
}

.signDrawer .registerButton:hover {
  background-color: #065c5c;
  transition: 700ms;
}

.drawer a:focus {
  border: solid 1px black;
}

/*****************************MainContent**************************/

.main-content {
  margin-top: 10px;
}

/*
Top Page
*/
.topPage {
  display: flex;
  flex-direction: row;
  font-size: x-large;
}

.topPage h1 {
  font-size: 70px;
  padding: 0;
  margin: 0;
}

.leftSide {
  width: 60%;
  margin-left: 20px;
}

.rightSide {
  width: 40%;

}

.rightSide img,
source {
  width: 80%;
  margin-right: 40px;
}

.leftSide .directLinkToSewa a {
  padding-inline: 15px;
  padding-block: 10px;

  color: #FFFFFE;
  text-decoration: none;
  background-color: #078080;
  border-radius: 15px;
}

/* Header */

nav {
  height: 80px;
  display: flex;
  padding: 0 64px;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}

nav h1 {
  letter-spacing: 1px;
  font-family: 'Dancing Script', cursive;
  font-size: 32px;
}

nav h1 a {
  text-decoration: none;
  min-width: 44px;
  min-height: 44px;
  line-height: 44px;
  color: black;
  display: inline-block;
}

nav a:hover {
  color: var(--hover-color);
}

.menu-list {
  font-family: 'Raleway', sans-serif;
  display: flex;
  text-transform: uppercase;
}

.menu-list li {
  list-style-type: none;
  display: inline-block;
}

.menu-list a {
  color: black;
  text-decoration: none;
  padding: 16px;
  font-weight: bold;
  padding-inline: 45px;
  padding-block: 10px;
  display: inline;
  text-decoration: none;
  border-radius: 40px;
}

.menu-list a:hover {
  transition-duration: 0.2s;
  color: var(--hover-color);
}

.menu-button {
  display: none;
  padding: 12px;
  min-width: 55px;
  min-height: 55px;
}

.menu-button i {
  font-size: 2em;
}

/*------------------Partner Page----------------------*/

.partnerPages {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.partnerHeader {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 500px;
  text-align: center;
  justify-content: center;
  font-size: larger;
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 30px;
}

.partnerHeader #upperTagline {
  font-size: 34px;
  margin-bottom: 0% !important;
}

.partnerHeader #lowerTagline {
  font-size: 72px;
  margin-top: 0% !important;
}

#upperTagline,
#lowerTagline {
  font-family: 'Nunito', sans-serif !important;
  color: white;
}

.partnerForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 64px;
}

.partnerForm form {
  width: 85%;
  border-radius: 10px;
  background-color: #F8F5F2;
  padding-top: 20px;
  padding-inline: 30px;
  padding-bottom: 40px;
}

.partnerForm form h1,
h4 {
  font-size: x-large;
}

.partnerForm form h1 {
  text-align: center;
}

.partnerForm .form-body {
  display: flex;
  justify-content: space-between;
}

.partnerForm .form-column {
  flex: 1;
  margin-right: 20px;
}

.partnerForm .form-column:last-child {
  margin-right: 0;
}

label {
  display: block;
  margin-bottom: 8px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
}

.tempatTanggalLahir {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 5px;
}

.partnerButton {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.partnerButton:hover {
  background-color: #45a049;
}

/* Banner */

.banner h2 {
  font-size: 1.5em;
  font-weight: 300;
  margin: 0;
  padding: 0;
  text-align: center;
}

.banner .second-tagline {
  font-size: 1.25em;
  font-weight: 250;
  margin: 0;
  padding: 0;
  text-align: center;
}

.cards-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.card-1,
.card-2,
.card-3 {
  background-color: #F8F5F2;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 25%;

  display: flex;
  flex-direction: column;
  align-items: center;
  /* Center items horizontally */
  text-align: center;
  /* Center text within the container */
}

.card-1:hover,
.card-2:hover,
.card-3:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.card-image img {
  max-width: 100%;
  height: auto;
  margin-right: 50px;
  margin-left: 50px;
}

.text-container h4 {
  font-weight: 300;
}

.text-container {
  font-size: 1.25em;
  font-weight: 250;
  margin: 0;
  padding: 0;
  text-align: center;
}

/* Car Collection */

.vehicle-collection h2 {
  font-size: 1.5em;
  font-weight: 300;
  margin: 0;
  padding: 0;
  text-align: center;
}

/* Login & Register Page */
#login-container, #register-container, #forgot-password-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

#forgot-password-form {
  margin-bottom: 134px!important;
}

#login-form, #register-form, #forgot-password-form {
  width: 450px;
  background-color: #F8F5F2;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 24px;
}

#login-form h2, #register-form h2, #forgot-password-form h2 {
  font-size: 2em;
  text-align: center;
}

#login-form button, #register-form button, #forgot-password-form button {
  font-size: large;
  width: 100%;
  padding: 10px;
  background-color: #078080;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 6px;
}

#login-form button:hover, #register-form button:hover, #forgot-password-form button:hover {
  background-color: #4CAF50;
  transition: 750ms;
}

#login-form #register a, #register-form #login a {
  text-decoration: none;
  color: #f45d48;
}

#email, #password, #confirm_password, #name {
  font-size: medium;
  border-radius: 10px;
  margin-bottom: 14px!important;
}

#forgot-password {
  text-align: right;
  text-decoration: none;
  color: red;
  margin-top: 0% !important;
}

#forgot-password:hover {
  color: black;
  transition: 750ms;
}


/*--------------Page sewa--------------*/

.sewa-page {
  display: flex;
  flex-direction: column;
}

/*
Rental-bar
*/

.rental-bar {
  display: flex;
  flex-direction: column;
  background-color: #F8F5F2;
  padding-block: 15px;
  padding-block-end: 30px;
  padding-inline: 10px;
  margin-inline: 30px !important;

  font-family: 'Nunito', sans-serif;
}

.rental-bar h1 {
  margin: 0;
}

.rental-option {
  display: flex;
  flex-direction: row;
}

.rental-option .rental-leftSide {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 10px;
  row-gap: 2px;
}

.rental-option button {
  margin-left: 10px;
  padding-inline: 5%;
  border-radius: 20px;
  height: 40px;
  align-self: center;

  background-color: #078080;
  transition: 700ms;
}

.rental-option button:hover:focus {
  background-color: #065c5c;
}

/*
Sewa Page main content
*/

.vehicle-sewa-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-inline: 10px;
}

.vehicleItem-clickable {
  text-decoration: none;
  color: black;
}

.vehicleItem {
  display: flex;
  flex-direction: row;
  margin-inline: 5px;
  background-color: #F8F5F2;
  align-items: center;
  justify-content: space-around;
  border-radius: 5px;
  margin-block: 14px;
  margin-inline: 5px;
  padding-block: 10px;
  padding-inline: 50px;
}

.vehicleItem:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  transition: 0.3s;
}

.vehicleItem-left {
  width: 30%;
  align-self: center;
}

.vehicleItem-center {
  width: 30%;
  font-size: larger;
}

.vehicleItem-center .vehicle-name {
  font-size: xx-large;
  font-weight: bold;
  margin-bottom: 0;
}

.vehicleItem-center .city, .vehicleItem-center .availability {
  font-weight: normal!important;
  font-size: larger;
  margin-top: 14px;
}

.vehicleItem-center .availability {
  font-size: medium!important;
  font-weight: normal!important;
  margin: 0;
}

.vehicleItem img {
  max-width: 75%;
  border-radius: 1pc;
}

.vehicleItem a {
  background-color: #F45D48;
  text-decoration: none;
  color: white;
  padding-inline: 35px;
  padding-block: 10px;
  border-radius: 30px;
}

.vehicleItem-right .start-from {
  font-size: small;
  margin-bottom: 0;
}

.vehicleItem-right .harga {
  font-size: larger;
  font-weight: bold;
  margin-top: 0;
}

/* Footer */

footer {
  background-color: #000;
}

.footer{
background:#000;
padding:30px 0px;
text-align:center;
position: fixed;
bottom: 0;
width: 100%;
}

.footer-container {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.footer-container, .about-us-footer, .tac {
  text-align: center;
  text-decoration: none;
  color: #FFFFFE;
}

.tac {
  margin-bottom: 1rem;
}

.github {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: white;
}

.about-us-footer a, .tac a {
  text-decoration: none;
  color: #FFFFFE;
}

.github i:hover, .about-us a:hover, .tac a:hover {
  color: #F45D48;
  transition: 750ms;
}

/* About Us */

.about-container {
  margin-top: 20px;
  margin-bottom: 26px;
}

.about-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.about-row {
  display: flex;
  justify-content: center;
}

.about-box:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, .4);
}

.about-heading {
  text-align: center;
}

.about-developer-section {
  margin-top: 40px;
}

.about-team-member {
  text-align: center;
  margin: 20px;
}

.about-team-member img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 80px;
}

.team-member-name {
  margin-top: 10px;
  font-size: 1.2em;
}

.team-member-university {
  margin-right: 2px;
  margin-top: 5px;
  color: #555;
}

/* Terms of Services Page */

.terms-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 34px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: justify;
}

.terms-container h2 {
  color: #333;
  text-align: center;
}

.terms-container p, .terms-container li {
  line-height: 1.5;
  color: black;
}

/* Car collection at Home page */

.car-collection-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 15px;
  margin-top: 15px;
}

.car-container {
  align-items: center;
  background-color: #f8f5f2;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 20px;
  text-align: center;
  width: 28%;
  text-decoration: none;
  color: black;
}

.car-container:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, .4);
  transition: .3s;
}

.car-collection-container picture,
.car-collection-container source,
.car-collection-container img {
  width: 70%;
  height: auto;
  border-radius: 10px;
  margin-right: 0;
}

.car-collection-name h4 {
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: -16px;
}

.car-collection-name h6 {
  font-size: 1em;
  font-weight: 300;
  margin-top: 20px;
  margin-bottom: 0;
}

.car-collection-price h4 {
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 0;
}

/*----------Vehicle Detail------------*/

.detailTracker {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.detailTracker a {
  text-decoration: none;
  color: black;
}

.vehicleDetail {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}

.vehicleDetailLeft {
  border-radius: 10px;
  display: flex;
  padding-inline: 10px;
  padding-block: 6px;
  height: fit-content;
  flex-direction: column;
  margin-inline-end: 5px;
  background-color: #F8F5F2;
  width: 25%;
}

.vehicleDetailLeft img {
  width: 100%;
  border-radius: 15px;
}

.vehicleDetailRight {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 74%;
  margin-inline-start: 5px;
  padding-inline: 5px;
  background-color: #F8F5F2;
}

.vehicleDetailInfo {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-between;
}

/* .detail-bottom-left {
  margin: 0;
} */

.vehicleOwnerLeft {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.vehicleOwnerLeft img {
  width: 50%;
  margin-right: 15px;
}

.vehicleInfoPrice {
  margin-top: 0px;
  padding-block-end: 15px;
}

.vehicleInfoPrice p {
  margin-bottom: 15px;
}

.vehicleInfoPrice a {
  margin-top: 40px;
  padding-inline: 15px;
  padding-block: 6px;
  text-decoration: none;
  color: white;
  background-color: #F45D48;
  border-radius: 30px;
}

.vehicleDetailDesc {
  display: flex;
  flex-direction: column-reverse;
}

.vehicleDetailPhotolist {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.vehicleDetailPhotolist img {
  width: 200px !important;
}

/*-----------Checking Page-------------*/

.checking-page {
  margin-bottom: 15px;
}

.vehicleDetailRenting {
  display: flex;
  flex-direction: column;
}

.vehicleDetailRenting form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vehicleCheckinDate {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 100px;
  align-items: center;
  margin-bottom: 15px;
}

.vehicleCheckinDate div {
  display: flex;
  flex-direction: column;
}

.vehicleCheckinDate input {
  width: 100%;
  height: 30px;
  border-radius: 5px;
  border: solid 1px gray;
}

.vehicleDetailForm {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 10px;
  column-gap: 100px;
  font-size: large;

  margin-block-end: 15px;
}

.vehicleDetailForm div {
  display: flex;
  flex-direction: column;
}

.vehicleDetailForm input {
  width: 100%;
  height: 30px;
  border-radius: 5px;
  border: solid 1px gray;
}

.vehicleDetailRenting button {
  padding-block: 10px;
  padding-inline: 20px;
  border-radius: 20px;
  border: 0;
  background-color: #F45D48;
  text-decoration: none;
  color: white;
}

.payingMethod {
  margin-bottom: 10px;
}

.toggle-button {
  background-color: #3498db;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.drawer-content {
  margin-top: 15px;
}

.payingMethod label {
  display: block;
  margin-bottom: 5px;
}

.payingMethod select {
  padding-inline: 50px;
  padding-block: 5px;
  width: 100%;
  margin-bottom: 10px;
}

/*------------Partner page after registation---------------*/

.rentaledVehicleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rentaledVehicleHeader {
  width: 100%;
  /* align-items: center; */
  text-align: center;
}

.listRentaledVehicleContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.listRentaledVehicleContainer ul {
  padding-inline: 0;
}

.listRentaledVehicleContainer li {
  display: inline;
  margin-inline: 10px;
}

.listRentaledVehicleContainer img {
  width: 80px;
  border-radius: 10px;
}

.listYourRentaled,
.listRentaledHistory {
  background-color: #F8F5F2;
  border-radius: 5px;
  padding: 7px;
  box-shadow: 0px 0px 3px gray;
}

.rentaledVehicle {
  display: flex;
  flex-direction: row;
  background-color: white;
  border-radius: 5px;
  padding-inline: 20px;
  padding-block: 10px;
  width: 500px;
  justify-content: space-between;
  align-items: center;
}

.rentaledHistory {
  display: flex;
  flex-direction: row;
  background-color: white;
  border-radius: 5px;
  padding-inline: 20px;
  padding-block: 10px;
  width: 500px;
  justify-content: space-between;
  align-items: center;
}

.addRentaledVehicle {
  text-align: center;
  padding-block: 10px;
}

/*---------------------Add Rental Vehicle Pages------------------------*/

.addYourVehicle {
  width: 100%;
  margin-inline: 7px;
  margin-top: 10px;
}

.addYourVehicle form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F8F5F2;
  padding-inline: 10px;
  padding-block-end: 30px;
  margin-inline: 100px;
  margin-block: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 2px gray;
}

.inputFotoMobil{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-block: 10px;
}

.imagePreviewContainer,
.inputFotoMobilContainer{
  padding: 15px;
  background-color: white;
  border-radius: 15px;
  margin-inline: 15px;
}

.bodyInputMobil {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.bodyInputMobilLeft,
.bodyInputMobilRight {
  margin-inline: 10px;
}

.add-pages-form-group,
.addVehicleDesc {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-block: 5px;
}

.add-pages-form-group input {
  border-radius: 5px;
}

.addVehicleDesc {
  text-align: center;
  width: 620px !important;
}

.footerAddForm {
  flex-direction: column;
  display: flex;
  margin: 0;
  margin-top: 10px;
}

.footerAddForm h1 {
  text-align: center;
}

.addAlamatFormLeft,
.addAlamatFormRight {
  margin-inline: 6.7px;
}

.addAlamatForm {
  display: flex;
  flex-direction: row;
}