@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --primary-color: #E3FDFD;
  --secondary-color: #FF2E63;
  --hover-color: #2C3333;
  --black: #3e3e3e;
  --white: #faf0e6;
  --cyan: #00ADB5;
}

* {
    font-family: 'Roboto', sans-serif;
  }
  
  html, body {
    display: block;
    background-color: #FFFFFE;
    margin: 0;
  }
  
  .skip-link {
    position: absolute;
    top: -40px;
    left: 0;
    padding: 8px;
    padding-inline: 4px;
    background-color: #bf1722;
    color: white;
    z-index: 100;
  }
  
  .skip-link:focus {
    top: 0;
}

/*
sign Drawer 
*/

.signDrawer li {
  display: inline;
}

.signDrawer a {
  padding-inline: 45px;
  padding-block: 10px;

  text-decoration: none;
  border-radius: 40px;
}

.loginButton {
  background-color: #F45D48;
  color: #FFFFFE;
}

.registerButton {
  background-color: #078080;
  color: #FFFFFE;
}


/*Drawer Transtition*/

.drawer a:hover {
  background-color: #157777;
  color: #FFFFFE;
  transition: 700ms;
}

.signDrawer .loginButton:hover {
  background-color:#f7361d;
  transition: 700ms;
}

.signDrawer .registerButton:hover{
  background-color: #065c5c;
  transition: 700ms;
}

.drawer a:focus {
  border: solid 1px black;
}

/*****************************MainContent**************************/

.main-content {
  margin-top: 10px;
}

/*
Top Page
*/
.topPage {
  display: flex;
  flex-direction: row;
  font-size:x-large;
}

.topPage h1{
  font-size: 70px;
  padding: 0;
  margin: 0;
}

.leftSide {
  width: 60%;
  margin-left: 20px;
}

.rightSide {
  width: 40%;
  
}

.rightSide img {
  width: 100%;
}

.leftSide .directLinkToSewa a {
  padding-inline: 15px;
  padding-block: 10px;

  color: #FFFFFE;
  text-decoration: none;
  background-color: #078080;
  border-radius: 15px;
}

/* Header */

nav {
  height: 80px;
  display: flex;
  padding: 0 64px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}

nav h1 {
  letter-spacing: 1px;
  font-family: 'Dancing Script', cursive;
  font-size: 32px;
}

nav h1 a {
  text-decoration: none;
  min-width: 44px;
  min-height: 44px;
  line-height: 44px;
  color: black;
  display: inline-block;
}

nav a:hover{
  color: var(--hover-color);
}

.menu-list {
  font-family: 'Raleway', sans-serif;
  display: flex;
  text-transform: uppercase;
}

.menu-list li {
  list-style-type: none;
  display: inline-block;
}

.menu-list a {
  color: black;
  text-decoration: none;
  padding: 16px;
  font-weight: bold;
  padding-inline: 45px;
  padding-block: 10px;
  display: inline;
  text-decoration: none;
  border-radius: 40px;
}

.menu-list a:hover {
  transition-duration: 0.2s;
  color: var(--hover-color);
}

.menu-button {
  display: none;
  padding: 12px;
  min-width: 55px;
  min-height: 55px;
}
.menu-button i {
  font-size: 2em;
}