@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;1,400;1,700&family=Nunito:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
  --primary-color: #E3FDFD;
  --secondary-color: #FF2E63;
  --hover-color: #2C3333;
  --black: #3e3e3e;
  --white: #faf0e6;
  --cyan: #00ADB5;
}

* {
    font-family: 'Nunito', sans-serif;
  }
  
  html, body {
    display: block;
    background-color: #FFFFFE;
    margin: 0;
  }
  
  .skip-link {
    position: absolute;
    top: -40px;
    left: 0;
    padding: 8px;
    padding-inline: 4px;
    background-color: #bf1722;
    color: white;
    z-index: 100;
  }
  
  .skip-link:focus {
    top: 0;
}

/*
sign Drawer 
*/

.signDrawer li {
  display: inline;
}

.signDrawer a {
  padding-inline: 45px;
  padding-block: 10px;

  text-decoration: none;
  border-radius: 40px;
}

.loginButton {
  background-color: #F45D48;
  color: #FFFFFE;
}

.registerButton {
  background-color: #078080;
  color: #FFFFFE;
}


/*Drawer Transtition*/

.drawer a:hover {
  background-color: #157777;
  color: #FFFFFE;
  transition: 700ms;
}

.signDrawer .loginButton:hover {
  background-color:#f7361d;
  transition: 700ms;
}

.signDrawer .registerButton:hover{
  background-color: #065c5c;
  transition: 700ms;
}

.drawer a:focus {
  border: solid 1px black;
}

/*****************************MainContent**************************/

.main-content {
  margin-top: 10px;
}

/*
Top Page
*/
.topPage {
  display: flex;
  flex-direction: row;
  font-size:x-large;
}

.topPage h1{
  font-size: 70px;
  padding: 0;
  margin: 0;
}

.leftSide {
  width: 60%;
  margin-left: 20px;
}

.rightSide {
  width: 40%;
  
}

.rightSide img, source {
  width: 80%;
  margin-right: 40px;
}

.leftSide .directLinkToSewa a {
  padding-inline: 15px;
  padding-block: 10px;

  color: #FFFFFE;
  text-decoration: none;
  background-color: #078080;
  border-radius: 15px;
}

/* Header */

nav {
  height: 80px;
  display: flex;
  padding: 0 64px;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}

nav h1 {
  letter-spacing: 1px;
  font-family: 'Dancing Script', cursive;
  font-size: 32px;
}

nav h1 a {
  text-decoration: none;
  min-width: 44px;
  min-height: 44px;
  line-height: 44px;
  color: black;
  display: inline-block;
}

nav a:hover{
  color: var(--hover-color);
}

.menu-list {
  font-family: 'Raleway', sans-serif;
  display: flex;
  text-transform: uppercase;
}

.menu-list li {
  list-style-type: none;
  display: inline-block;
}

.menu-list a {
  color: black;
  text-decoration: none;
  padding: 16px;
  font-weight: bold;
  padding-inline: 45px;
  padding-block: 10px;
  display: inline;
  text-decoration: none;
  border-radius: 40px;
}

.menu-list a:hover {
  transition-duration: 0.2s;
  color: var(--hover-color);
}

.menu-button {
  display: none;
  padding: 12px;
  min-width: 55px;
  min-height: 55px;
}
.menu-button i {
  font-size: 2em;
}

/*------------------Partner Page----------------------*/

.partnerPages {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.partnerHeader {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 500px;
  text-align: center;
  justify-content: center;
  font-size: larger;
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 30px;
}

.partnerHeader #upperTagline {
  font-size: 34px;
  margin-bottom: 0%!important;
}

.partnerHeader #lowerTagline {
  font-size: 72px;
  margin-top: 0%!important;
}

#upperTagline, #lowerTagline {
  font-family: 'Nunito', sans-serif!important;
  color: white;
}

.partnerForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 64px;
}

.partnerForm form {
  width: 85%;
  border-radius: 10px;
  background-color: #F8F5F2;
  padding-top: 20px;
  padding-inline: 30px;
  padding-bottom: 40px;
}

.partnerForm form h1, h4 {
  font-size: x-large;
}

.partnerForm form h1 {
  text-align: center;
}

.partnerForm .form-body {
  display: flex;
  justify-content: space-between;
}

.partnerForm .form-column {
  flex: 1;
  margin-right: 20px;
}

.partnerForm .form-column:last-child {
  margin-right: 0;
}

label {
  display: block;
  margin-bottom: 8px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
}

.tempatTanggalLahir {
  display: grid;
  grid-template-columns: repeat(2 , 1fr);
  column-gap: 5px;
}

.partnerButton {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.partnerButton:hover {
  background-color: #45a049;
}

/* Banner */

.banner h2 {
  font-size: 1.5em;
  font-weight: 300;
  margin: 0;
  padding: 0;
  text-align: center;
}

.banner .second-tagline {
  font-size: 1.25em;
  font-weight: 250;
  margin: 0;
  padding: 0;
  text-align: center;
}

.cards-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.card-1, .card-2, .card-3 {
  background-color: #F8F5F2;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 25%;

  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
  text-align: center; /* Center text within the container */
}

.card-1:hover, .card-2:hover, .card-3:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.card-image img {
  max-width: 100%;
  height: auto;
  margin-right: 50px;
  margin-left: 50px;
}

.text-container h4 {
  font-weight: 300;
}

.text-container {
  font-size: 1.25em;
  font-weight: 250;
  margin: 0;
  padding: 0;
  text-align: center;
}

/* Car Collection */

.vehicle-collection h2 {
  font-size: 1.5em;
  font-weight: 300;
  margin: 0;
  padding: 0;
  text-align: center;
}

/* Login Page */
#login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

#login-form {
  width: 450px;
  background-color: #F8F5F2;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#login-form h2 {
  font-size: 2em;
  text-align: center;
}

#login-form button {
  font-size: large;
  width: 100%;
  padding: 10px;
  background-color: #078080;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 6px;
}

#login-form button:hover {
  background-color: #4CAF50;
}

#login-form #register {
  font-size: medium;
  text-align: center;
}

#login-form #register a {
  text-decoration: none;
  color: black;
}

#email, #password {
  font-size: medium;
  border-radius: 10px;
  margin-bottom: 8px!important;
}

#forgot-password {
  text-align: right;
  text-decoration: none;
  color: red;
  margin-top: 0%!important;
}

#forgot-password:hover {
  color: black;
}


/*--------------Page sewa--------------*/

.sewa-page {
  display: flex;
  flex-direction: column;
}

/*
Rental-bar
*/

.rental-bar{
  display: flex;
  flex-direction: column;
  background-color: #F8F5F2;
  padding-block: 15px ;
  padding-block-end: 30px;
  padding-inline: 10px;
  margin-inline: 30px !important;

  font-family: 'Nunito', sans-serif;
}

.rental-bar h1 {
  margin: 0;
}

.rental-option{
  display: flex;
  flex-direction: row;
}

.rental-option .rental-leftSide {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 10px;
  row-gap: 2px;
}

.rental-option button {
  margin-left: 10px;
  padding-inline: 5%;
  border-radius: 20px;
  height: 40px;
  align-self: center;

  background-color: #078080;
  transition: 700ms;
}

.rental-option button:hover:focus{
  background-color: #065c5c;
}

/*
Sewa Page main content
*/

.vehicle-sewa-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vehicleItem {
  display: flex;
  flex-direction: row;
  margin-inline: 5px;
  justify-content: space-between;
  background-color: #F8F5F2;
  margin-block: 14px;
  border-radius: 10px;
  padding-block: 14px;
  padding-inline: 154px;
}

.vehicleItem:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  transition: 0.3s;
}

.vehicleItem-left {
  width: 30%;
  align-self: center;
  margin-right: -124px;
}

.vehicleItem-center{
  width: 30%;
  font-size: larger;
}

.vehicleItem-center .vehicle-name {
  font-size: xx-large;
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 78px;;
}

.vehicleItem-center .city {
  font-size: larger;
  margin-top: 14px;
}

.vehicleItem img {
  max-width: 75%;
  border-radius: 1pc;
}

.vehicleItem a {
  background-color: #F45D48;
  text-decoration: none;
  color: white;
  padding-inline: 35px;
  padding-block: 10px;
  border-radius: 30px;
}

.vehicleItem-right .start-from {
  font-size: small;
  margin-bottom: 0;
  margin-top: 80px;
}

.vehicleItem-right .harga {
  font-size: larger;
  font-weight: bold;
  margin-top: 0;
}

/* Footer */

.footer{
background:#000;
padding:30px 0px;
text-align:center;
}

.footer .row{
width:100%;
margin:1% 0%;
padding:0.6% 0%;
color:gray;
font-size:0.8em;
}

.footer .row a{
text-decoration:none;
color:gray;
transition:0.5s;
}

.footer .row a:hover{
color:#fff;
}

.footer .row ul li{
display:inline-block;
margin:0px 30px;
}

.footer .row a i{
font-size:2em;
margin:0% 1%;
}
  
@media (max-width:720px){
.footer{
text-align:left;
padding:5%;
}
.footer .row ul li{
display:block;
margin:10px 0px;
text-align:left;
}
.footer .row a i{
margin:0% 3%;
}
}

/* About Us */

.about-container {
  margin-top: 20px;
  margin-bottom: 26px;
}

.about-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.about-row {
  display: flex;
  justify-content: center;
}

.about-box {
  background-color: #f8f5f2;
  width: 48%; /* Adjust as needed */
  border: 1px solid #ccc;
  padding: 20px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-sizing: border-box;
  box-shadow: 0 0 10px rgba(0,0,0,.2);
}

.about-box:hover {
  box-shadow: 0 0 10px rgba(0,0,0,.4);
}

.about-heading, .about-description {
  text-align: center;
}

.about-description {
  font-size: large;
}

.about-developer-section {
  margin-top: 40px;
}

.about-team-member {
  text-align: center;
  margin: 20px;
}

.about-team-member img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 80px;
}

.team-member-name {
  margin-top: 10px;
  font-size: 1.2em;
}

.team-member-university {
  margin-right: 2px;
  margin-top: 5px;
  color: #555;
}

/* Terms of Services Page */

.terms-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: justify;
}

h2 {
  color: #333;
  text-align: center;
}

h3 {
  color: #555;
}

p, li {
  line-height: 1.5;
  color: black;
}

/* Car collection at Home page */

.car-collection-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 15px;
  margin-top: 15px;
}

.car-container {
  align-items: center;
  background-color: #f8f5f2;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 20px;
  text-align: center;
  width: 28%;
  text-decoration: none;
  color: black;
}

.car-container:hover {
  box-shadow: 0 0 10px rgba(0,0,0,.4);
  transition: .3s;
}

.car-collection-container picture, 
.car-collection-container source, 
.car-collection-container img {
  width: 70%;
  height: auto;
  border-radius: 10px;
  margin-right: 0;
}

.car-collection-name h4 {
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: -16px;
}

.car-collection-name h6 {
  font-size: 1em;
  font-weight: 300;
  margin-top: 20px;
  margin-bottom: 0;
}

.car-collection-price h4 {
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 0;
}

/*----------Vehicle Detail------------*/

.vehicleDetail {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}

.vehicleDetailLeft {
  display: flex;
  padding-inline: 5px;
  height: fit-content;
  flex-direction: column;
  align-items: center;
  margin-inline-end: 5px;
  background-color: #F8F5F2;
}

.vehicleDetailLeft img {
  width: 100%;
}

.vehicleDetailRight {
  display: flex;
  flex-direction: column;
  margin-inline-start: 5px;
  padding-inline: 5px;
  background-color: #F8F5F2;
}

.vehicleDetailInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.vehicleOwnerLeft {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  justify-content: space-between;
}

.vehicleOwnerLeft img {
  width: 50%;
}

.vehicleDetailPhotolist {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.vehicleDetailPhotolist img{
  max-width: 400px;
}

.vehicleDetailRenting{
  display: flex;
  flex-direction: column;
}

.vehicleDetailRenting form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vehicleDetailForm {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 10px;
  column-gap: 100px;
  font-size: large;

  margin-block-end: 15px;
}

.vehicleDetailForm div {
  display: flex;
  flex-direction: column;
}

.vehicleDetailForm input {
  width: 100%;
  height: 30px;
  border-radius: 5px;
  border: solid 1px gray;
}

.vehicleDetailRenting button {
  width: 25%;
  height: 35px;
}

@media only screen and (max-width: 600px) {
  .vehicleDetail {
      flex-direction: column;
      width: 100%;
      margin-bottom: 10px;
  }

  .vehicleDetailLeft,
  .vehicleDetailRight {
      margin-inline: 0;
  }

  .vehicleDetailInfo {
      flex-direction: column;
  }

  .vehicleOwnerLeft{
      justify-content: space-around;
  }

  .vehicleDetailPhotolist {
      grid-template-columns: repeat(2, 1fr);
      gap: 5px;
  }

  .vehicleDetailPhotolist img {
      max-width: 100%;
  }

  .vehicleDetailForm {
      grid-template-columns: 1fr;
      column-gap: 0;
  }

  .vehicleDetailRenting button {
      width: 50%;
      margin-top: 10px;
  }
}