@media (max-width: 600px) {
    nav {
        padding-inline: 10px;
        padding-block: 20px;
    }

    .partnerHeader {
        background-image: url('../public/images/assets/partner-page/car-small.jpg');
    }

    .menu-list {
        background-color: white;
        fill-opacity: 0.5;
        position: fixed;
        top: 0;
        right: 0;
        margin-top: 80px;
        flex-direction: column;
        align-items: flex-end;
        transform: translateX(100%);
        transition: transform 0.5s;
    }

    .menu-list li {
        width: 200px;
        padding: 20px 10px;
        border-bottom: 1px solid #060827;
        text-align: right;
    }
    
    .open .menu-list {
        transform: translateX(0);
    }

    .menu-button {
        min-width: 55px;
        min-height: 55px;
        border: 0;
        background-color: transparent;
        color: black;
        font-size: 1.25rem;
        display: block;
        z-index: 2;
        cursor: pointer;
    }
    
    .menu i.fa-times,
    .menu.open i.fa-bars {
        display: none;
        animation: enter 0.8s;
    }

    .menu.open i.fa-times,
    .menu i.fa-bars {
        display: block;
        animation: enter 0.8s;
    }

    .detail {
        width: 100%;
    }
    /*-----Landing Page-----*/
    .main-content {
        width: 100%;
    }

    .topPage {
        display: flex;
        flex-direction: row;
        width: 100%;

        font-size: 1rem;
    }

    .topPage .leftSide h1 {
        font-size: 1.5rem;
    }

    .topPage .leftSide a {
        margin-block-end: 15px;
    }

    .rightSide img, source {
        margin-right: 0;
        width: 80%
    }

    .banner {
        margin-top: 50px;
    }

    .cards-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .card-1, .card-2, .card-3 {
        width: 65%;
    }

    .card-1 img, 
    .card-2 img, 
    .card-3 img {
        margin: 0;
    }

    .footer{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 0;
        align-content: center;
        text-align: center;
    }

    /*-----VehicleItem In sewa page---------*/

    .vehicleItem {
        font-size: xx-small;
        padding-inline: 10px;
    }

    .vehicleItem img {
        max-width: 100px;
    }

    .vehicleItem-center .vehicle-name{
        font-size: 1rem;
    }

    .vehicle-item-container {
        width: 100%;
    }

    .vehicleItem-right .start-from {
        margin: 0;
    }

    .vehicleItem-right .harga {
        margin: 0;
    }

    /*----Vehicle Detail----*/

    .vehicleDetail {
        flex-direction: column;
        width: 100%;
        margin-bottom: 10px;
        padding-inline: 5px;
    }
  
    .vehicleDetailLeft,
    .vehicleDetailRight {
        margin-inline: 0;
        width: 100%;
        margin-block: 5px;
        padding-inline: 0;
    }

    .detail-top-left {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .detail-top-left img{
        max-width: 300px;
    }
  
    .vehicleDetailInfo {
        flex-direction: column;
    }
  
    .vehicleOwnerLeft{
        justify-content: space-around;
    }
  
    .vehicleDetailPhotolist {
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;
    }
  
    .vehicleDetailPhotolist img {
        max-width: 100%;
    }
  
    .vehicleDetailForm {
        grid-template-columns: 1fr;
        column-gap: 0;
        width: 15rem;
    }
  
    .vehicleCheckinDate {
        grid-template-columns: 1fr;
        width: 15rem;
    }
  
    .payingMethod select {
        padding-block: 2px;
        padding-inline: 30px;
    }

        
    /* Login form */

    #login-form, #register-form, #forgot-password-form {
        width: 66%;
    }

    #forgot-password-form {
        margin-bottom: 148px!important;
    }

    /* Footer */

    .footer {
        flex-direction: column;
        align-items: center;
    }

    /* Terms and Conditions */

    .terms-container {
        width: 84%;
        padding-inline: 20px;
    }

    .terms-container h2 {
        font-size: larger;
    }

    .terms-container p, .terms-container li {
        font-size: small;
    }

    /* About Us */

    .about-team-member img {
        margin: 0;
    }

    /* Detail page */

    .vehicleDetail {
        flex-direction: column;
        width: 100%;
        margin-bottom: 10px;
    }
  
    .vehicleDetailLeft,
    .vehicleDetailRight {
        margin-inline: 0;
    }
  
    .vehicleDetailInfo {
        flex-direction: column;
    }
  
    .vehicleOwnerLeft{
        justify-content: space-around;
    }
  
    .vehicleDetailPhotolist {
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;
    }
  
    .vehicleDetailPhotolist img {
        max-width: 100%;
    }
  
    .vehicleDetailForm {
        grid-template-columns: 1fr;
        column-gap: 0;
    }
  
    .vehicleDetailRenting button {
        width: 50%;
        margin-top: 10px;
    }

    /* Car card at Home page */

    .car-container {
        padding: 28px;
    }

    .car-collection-name h4 {
        font-size: 16px;
    }

    .car-collection-name h6 {
        font-size: 11px;
    }

    .car-collection-price h4 {
        font-size: 13px;
    }

    .car-collection-container img,
    .car-collection-container picture,
    .car-collection-container source {
        height: auto;
        width: 100%;
    }

    /*------------Partner page after registation---------------*/

    .rentaledVehicleContainer {
        padding: 10px;
    }

    .listRentaledVehicleContainer li {
        display: inline;
        margin-block: 10px;
    }

    .rentaledVehicleInfo {
        margin-inline: 5px;
    }

    .rentaledVehicleInfo h4 {
        font-size: large;
    }

    .availableInfo {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 0px;
        border: 0;
        margin-inline: 4px;
    }

    .availableInfo p {
        padding-inline: 7px;
        padding-block: 4px;
        width: fit-content;
        display: none;
    }

    .availableInfo p.avia-on {
        display: block;
    }

    .listRentaledVehicleContainer img {
        width: 60px;
        border-radius: 10px;
    }

    .listYourRentaled,
    .listRentaledHistory {
        margin: 0;
        padding-inline: 10px;
    }

    .listRentaledHistory{
        align-items: center;
    }

    .listRentaledVehicle{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .rentaledVehicle,
    .rentaledHistory {
        width: 90%;
    }

    /*---------------------Add Rental Vehicle Pages------------------------*/

    .addYourVehicle {
        margin-inline: 0;
    }

    .addYourVehicle form{
        margin-inline: 5px;
        padding: 0;
    }

    .inputFotoMobil{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-block: 10px;
    }
    
    .imagePreviewContainer,
    .inputFotoMobilContainer{
        padding: 10px;
        background-color: white;
        border-radius: 15px;
        margin-inline: 0;
        margin-block: 10px;
    }

    .add-pages-form-group, 
    .addVehicleDesc {
        width: 100% !important;
    }

    .addVehicleDesc textarea {
        margin-inline: 15px;
    }

    .footerAddForm {
        width: 100%;
    }

    .footerAddForm .hargaSewaForm {
        margin-inline: 15px;
    }

    .footerAddForm h4 {
        text-align: center;
    }

    .addAlamatForm {
        flex-direction: column;
        margin-inline: 15px;
    }

    .addAlamatFormLeft,
    .addAlamatFormRight {
        margin-inline: 0;
    }
}

@media screen and (min-width: 601px) {
    .partnerHeader {
        background-image: url('../public/images/assets/partner-page/car-large.jpg');
    }
    
}
