@media (max-width: 600px) {
    nav {
        padding-inline: 10px;
        padding-block: 20px;
    }

    .partnerHeader {
        background-image: url('../public/images/assets/partner-page/car-small.jpg');
    }

    .menu-list {
        background-color: white;
        fill-opacity: 0.5;
        position: fixed;
        top: 0;
        right: 0;
        margin-top: 80px;
        flex-direction: column;
        align-items: flex-end;
        transform: translateX(100%);
        transition: transform 0.5s;
    }

    .menu-list li {
        width: 200px;
        padding: 20px 10px;
        border-bottom: 1px solid #060827;
        text-align: right;
    }
    
    .open .menu-list {
        transform: translateX(0);
    }

    .menu-button {
        min-width: 55px;
        min-height: 55px;
        border: 0;
        background-color: transparent;
        color: black;
        font-size: 1.25rem;
        display: block;
        z-index: 2;
        cursor: pointer;
    }
    
    .menu i.fa-times,
    .menu.open i.fa-bars {
        display: none;
        animation: enter 0.8s;
    }

    .menu.open i.fa-times,
    .menu i.fa-bars {
        display: block;
        animation: enter 0.8s;
    }

    .detail {
        width: 100%;
    }
    /*-----Landing Page-----*/
    .main-content {
        width: 100%;
    }

    .topPage {
        display: flex;
        flex-direction: row;
        width: 100%;

        font-size: 1rem;
    }

    .topPage .leftSide h1 {
        font-size: 1.5rem;
    }

    .topPage .leftSide a {
        margin-block-end: 15px;
    }

    .banner {
        margin-top: 50px;
    }

    .cards-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .card-1, .card-2, .card-3 {
        width: 65%;
    }

    .card-1 img, 
    .card-2 img, 
    .card-3 img {
        margin: 0;
    }

    .footer{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 0;
        align-content: center;
        text-align: center;
    }

    /*----Vehicle Detail----*/

    .vehicleDetail {
        flex-direction: column;
        width: 100%;
    }
  
    .vehicleDetailLeft,
    .vehicleDetailRight {
        margin-inline: 0;
    }
  
    .vehicleDetailInfo {
        flex-direction: column;
    }
  
    .vehicleOwnerLeft{
        justify-content: space-around;
    }
  
    .vehicleDetailPhotolist {
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;
    }
  
    .vehicleDetailPhotolist img {
        max-width: 100%;
    }
  
    .vehicleDetailForm {
        grid-template-columns: 1fr;
        column-gap: 0;
    }
  
    .vehicleDetailRenting button {
        width: 50%;
        margin-top: 10px;
    }
}

@media screen and (min-width: 601px) {
    .partnerHeader {
        background-image: url('../public/images/assets/partner-page/car-large.jpg');
    }
    
}